<nav class="p-r-4">
  <ul class="nav nav-pills nav-stacked">

    {% for element in site.data.desarrolladores %}

      {% unless element.hr == true %}

        {% assign current = '' %}

        {% if page.title == element.title %}
          {% assign current = 'active' %}
        {% endif %}

        <li class="{{ current }} ">
          <a href="{{ element.url | prepend: site.baseurl }}">{{ element.title }}</a>
        </li>

      {% else %}

        <hr>

      {% endunless %}
    {% endfor %}

  </ul>
</nav>